body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f8f8;
  padding-bottom: 30px;
  font-size: 16px;
}

h1 {
  font-weight: 700;
  font-size: 70px;
  color: #02a6a9;
  margin-top: 50px;
}

h2 {
  font-weight: 400;
  margin-bottom: 30px;
  font-style: italic;
}

#about {
  margin-top: 15px;
  font-size: 18px;
}

p {
  margin: 0;
}

.category {
  margin-top: 50px;
  margin-bottom: 40px;
}

#social a,
#social a:active,
#social a:focus,
#social a:visited {
  margin-right: 15px;
  font-size: 18px;
  text-decoration: none;
  color: #333;
}

#social a:hover {
  text-decoration: none;
  color: #02a6a9;
}

.card {
  display: block;
  min-height: 270px;
  background-color: #fff;
  font-weight: 300;
  margin-bottom: 20px;
  position: relative;
}

.beta {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #fff;
  font-size: 18px;
  border-radius: 3px;
  padding: 2px 5px;
}

a.card,
a.card:hover,
a.card:focus,
a.card:active,
a.card:visited {
  text-decoration: none;
  color: #333;
}

.card-logo {
  height: 90px;
}

.card-logo svg {
  width: 100%;
  height: 100%;
  max-width: 150px;
  max-height: 45px;
  fill: #fff;
}

#card-frow .card-logo {
  background-color: #339be8;
}

#card-2n .card-logo {
  background-color: #4f4f51;
}

#card-letsgo .card-logo {
  background-color: #3ac371;
}

#card-begin .card-logo {
  background-color: #12d8b7;
}

.card-info {
  padding: 25px 15px 15px;
}

.card-title {
  font-size: 23px;
  font-weight: 400;
  margin: 10px 0;
}

.card-position {
  margin-top: 17px;
  font-weight: 400;
}
